# Z Offset = -1.90
Z Offset = -1.90
E Steps = 100
Hotend kP = 36.87
Hotend kI = 4.05
Hotend kD = 84.06
Bed kP = 241.26
Bed kI = 47.12
Bed kD = 823.5
Printing acceleration = 3000
Retract acceleration = 3000
Travel acceleration = 1000
X maximum acceleration = 3000
Y maximum acceleration = 3000
Z maximum acceleration = 500
E maximum acceleration = 1000