# Version/Info
Author = Lyall
Machine Name = Derek the Ender-3 V2
Short Build Version = Derek Firmware V6.0
Build Version = , based on MRiscoC's Professional Firmware
URL = https://github.com/Lyall-A/Derek-Firmware

# General
Z Maximum Position = 210
Preheat 1 label = PLA
Preheat 1 hotend = 205
Preheat 1 bed = 60
Preheat 2 label = ABS
Preheat 2 hotend = 240
Preheat 2 bed = 90
Preheat 3 label = PETG
Preheat 3 hotend = 230
Preheat 3 bed = 80
Preheat 4 label = CUSTOM
Preheat 4 hotend = 190
Preheat 4 bed = 50

# Comments (false = commented)
Enable leveling after home = true
ProUI = false
Buzzer = false

# Tuning
Z Offset = -2.10
E Steps = 100
Hotend kP = 25.74
Hotend kI = 2.28
Hotend kD = 72.59
Bed kP = 202.40
Bed kI = 38.92
Bed kD = 701.64
Printing acceleration = 3000
Retract acceleration = 3000
Travel acceleration = 1000
X maximum acceleration = 3000
Y maximum acceleration = 3000
Z maximum acceleration = 500
E maximum acceleration = 1000